<div class="team-page">
  <div class="team-header">
    <h1 class="team-name"><%= @team.name %></h1>
  </div>
  <div class="politics-list">
    <% @politics.each do |politic| %>
      <div class="politic-item">
        <%= image_tag("avatars/#{politic.last_name}.png", class: "politic-avatar") %>
        <div class="politic-info">
          <h2 class="politic-name"><%= politic.first_name %> <%= politic.last_name %></h2>
          <p class="politic-board"><%= politic.politic_board %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
