<%= @team.name %>
<h1>tetstlhdslkjds</h1>
<% @politics.each do |politic| %>
  <ul>
    <li>
      <%= politic.first_name %> <%= politic.last_name %>,
      <%= politic.politic_board %><%= button_to "Ajouter à l'équipe", method: :patch, class: "button" %> <%= button_to "Retirer de l'équipe", method: :patch %>
    </li>
  </ul>
<% end %>
