
<div class="team-page">
  <div class="team-header">
    <h1 class="team-name"><%= @team.name %></h1>
  </div>
  <div class="back">
    <%= link_to "retour",tournament_path(params[:tournament_id]),class: "pixel_art_btn" %>
  </div>
  <div class="politics-list">
    <% @politics.each do |politic| %>
      <div class="politic-item">
        <%= image_tag("avatars/#{politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "politic-avatar") %>
        <div class="politic-info">
          <h2 class="politic-name"><%= politic.first_name %> <%= politic.last_name %></h2>
          <p class="politic-board"><%= politic.politic_board %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="run">
  <%= image_tag "run.png", class:'run-img' %>
  <p>"Regardez, dans les milieux <br>
  où il y a vraiment le pouvoir, <br>
  il n'y a pas de femmes."<br>

  <span><br>Eric Zemmour</br></span></p>
</div>
