<div>
  <div class="user-header">
    <h1 class="user-header-name">Tableau de bord</h1>
  </div>
  <div class="dashboard-container">
    <p>Hey <%= @user.nickname %>, bienvenue sur votre tableau de bord !
    <br>
    C'est ici que tu pourras gérer tes tournois et tes équipes. A toi de jouer !</p>
  </div>
  <div class="dashboard-tournaments-container">
    <div class="menu_tournois">
      <h3>MES TOURNOIS</h3>
      <div class="dashboard-tournaments-buttons">
        <% @user.tournaments.each do |tournament| %>
          <p>
            <%= link_to tournament_path(tournament), class: "pixel_art_tournament" do %>
              <%= image_tag(tournament.photo.attached? ? url_for(tournament.photo) : "chien.png", class: "avatar avatar-user") %>
              <%= tournament.name %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <%= link_to new_tournament_path do %>
    <div id="tournament-creation-card" class="menu_tournois">
      <h3 class="text-white">NE PAS SUPPR</h3>
      <p class="plus">+</p>
      <h3>CREER UN TOURNOI</h3>
    </div>
    <% end %>
  </div>
</div>
<div class="run">
<%= image_tag "run.png", class:'run-img' %>
<p>De toute façon la France sera <br>
dirigée par une femme : <br>
ce sera, ou moi, ou Madame Merkel.<br>

<span><br>Marine Le Pen</br></span></p>

</div>
