<div>
  <div class="dashboard-card">
    <p class="dashboard-title">CLASSEMENT</p>
    <div class="ranking-group">
      <% @tournament.teams.sort_by(&:score).reverse.each_with_index do |team, id| %>
      <div class="ranking-item">
        <div>
          <%= id + 1 %>
        </div>
        <div>
          <% if team.name.length > 15 %>
            | <%= team.name.first(15) %>...
          <% else %>
            | <%= team.name %>
          <% end %>
          <br>
          | <%= team.score %> PTS
        </div>
      </div>
      <% end %>
    </div>
    <div class="player-rank">
      TU ES
      <% if @team == @tournament.teams.sort_by(&:score).reverse.first %>
        1ER !!!
        <br><br>
        <i class="fa-solid fa-crown fa-2xl" style="color: #ffffff;"></i>
      <% elsif @team == @tournament.teams.sort_by(&:score).reverse.last %>
        DERNIER !!!
        <br><br>
        <i class="fa-solid fa-frog fa-2xl" style="color: #ffffff;"></i>
      <% else %>
        <%= @tournament.teams.sort_by(&:score).reverse.find_index(@team) + 1 %>EME
        <br><br>
        <i class="fa-solid fa-bolt fa-2xl" style="color: #ffffff;"></i>
      <% end %>
    </div>
  </div>
  <div class="button">VOIR +</div>
</div>
