<div class="team-header">
  <h1 class="team-name">Classement</h1>
</div>
 <div class="buttons">
    <%= link_to "retour",tournament_path(@tournament),class: "pixel_art_btn" %>
    </div>
    <div class="container-result">
<div class="results-container">
    <table class="results-table">
      <thead>
        <tr>
          <th>Rang</th>
          <th>Equipe</th>
          <th>Score</th>
          <th>Matchs<br> joues</th>
          <th>Matchs<br> gagnes</th>
          <th>Matchs<br> perdus</th>
        </tr>
      </thead>
      <tbody>
          <% @tournament.teams.sort_by(&:score).reverse.each_with_index do |team, id| %>
          <tr>
            <td><%= id + 1 %></td>
            <td><%= team.name %></td>
            <td><%= team.score %></td>
            <% closed_matches =  team.matches.select{|match| match.statut == "Closed"}%>
            <td><%= closed_matches.count %></td>
            <td><%= closed_matches.select{|match| match.winner == team.name}.count %></td>
            <td><%= closed_matches.select{|match| match.winner != team.name}.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="image-container">
    <%= image_tag "ranking.png" %>
    </div>
</div>
