<div>
  <h3><%= @tournament.name %></h3>
  <p><%= @tournament.status %></p>

  <% if @tournament.status == "created" %>
    <h4>Invite tes amis</h4>
    <p><%= url_for(only_path: false) %></p>
  <% end %>
</div>

<%= link_to "Rejoindre le tournoi", join_tournament_path(@tournament), method: :post %>

<h1><%= @tournament.name %></h1>
<p><%= @tournament.status %></p>

<% if @tournament.status == "launched" %>
  <p>Liste des équipes inscrites :</p>
  <ul>
    <% @tournament.teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Liste des joueurs ayant rejoint le tournoi :</p>
  <ul>
    <% @tournament.users.each do |user| %>
      <li><%= user.nickname %></li>
    <% end %>
  </ul>
    <h4>Invite tes amis</h4>
    <p><%= url_for(only_path: false) %></p>
  <%= button_to "Lancer le tournoi", launch_tournament_path(@tournament), method: :patch %>
<% end %>
