<div>
  <h3><%= @tournament.name %></h3>
  <p><%= @tournament.status %></p>
    <% @tournament.users.each do |user| %>
      <p><%= user.nickname %></p>
    <% end %>

  <% if @tournament.status == "created" %>
    <h4>Invite tes amis</h4>
    <p><%= url_for(only_path: false) %></p>
    <%= button_to 'Lancer le tournoi', launch_tournament_path(@tournament), method: :patch %>
    <%= button_to "Rejoindre le tournoi", join_tournament_path(@tournament), method: :post %>
  <% end %>
</div>

<% if @tournament.status == "launched" %>
  <p>Liste des équipes inscrites :</p>
  <ul>
    <% @tournament.teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  </ul>
  <p>Liste des joueurs ayant rejoint le tournoi : (à retirer ?)</p>

  <%= link_to "+ Nouvel equipe", new_tournament_team_path(@tournament.id), class: "button" %>

  <%= link_to "Voir ma team", tournament_team_path(@tournament, @team), class: "button" %>

  <%= link_to "Liste des matchs", matches_path(tournament_id: @tournament.id) %>

<% end %>
