<div class="tournament-header-show">
  <%#= cl_image_tag @tournament.photo.key, class: "avatar avatar-user", id: "avatar-tournament" %>
  <h1 class="tournament-header-name"><%= @tournament.name %>
  </h1>
</div>
<div class="d-flex justify-content-center">
  <% if @tournament.status == "created" %>
    <h2>En attente de lancement</h2>
  <% end %>
</div>
<div class="dashboard-container">
  <div class="dashboard-tournaments-container">
    <% if @tournament.status == "created" %>
      <div class="tournaments-details-container">
        <div class="dashboard-complete-card">
          <div class="dashboard-card small">
            <p class="dashboard-title mb-5">EQUIPES INSCRITES</p>
            <ul>
              <% @tournament.teams.each do |team| %>
                <li class="mb-1"><h4><%= team.name %> - <%= team.user.nickname %></h4></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="tournaments-details-container">
        <div class="dashboard-complete-card">
          <div class="dashboard-card small" data-controller="clipboard">
            <p class="dashboard-title">INVITE TES AMIS</p>
            <input class="form-control mt-5" type="text" value="<%= url_for(only_path: false, host: 'www.clashofbuzz.me') %>" readonly>
            <button id="copy-button" class="pixel_art_btn_home_page mt-5">Copier l'invitation</button>
          </div>
        </div>
      </div>

      <div class="tournaments-details-container">
        <div class="dashboard-complete-card">
          <div class="dashboard-card small">
            <p class="dashboard-title text-white">INVITE TES AMIS</p>
            <% if current_user.teams.exists?(tournament_id: @tournament.id) %>
              <%= button_to 'Lancer le tournoi', launch_tournament_path(@tournament), method: :patch, class: "pixel_art_btn_home_page mt-5" %>
            <% else %>
              <%= button_to "Rejoindre le tournoi", join_tournament_path(@tournament), method: :post, class: "pixel_art_btn_home_page mt-5" %>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="tournaments-details-container">
        <div class="dashboard-complete-card">
          <div class="dashboard-card">
            <p class="dashboard-title">MON EQUIPE</p>
            <% @tournament.teams.each do |team| %>
              <% if team.user == current_user %>
                <h4><%= team.name %></h4>
                <%# <%= image_tag(team.avatar, class: "team-avatar") %>
                <div id="politicCarousel" class="carousel slide">
                  <% if team.politics.count > 0 %>
                    <div class="carousel-inner">
                      <% if @politics_slice_a %>
                        <div class="carousel-item active">
                          <div class="dashboard-card-list">
                            <% @politics_slice_a.each do |politic| %>
                              <div class="dashboard-card-politic">
                                <div class="dashboard-card-politic-name">
                                  <p class="last-name"><%= politic.last_name %></p>
                                  <p class="first-name"><%= politic.first_name %></p>
                                </div>
                                <div>
                                  <%= image_tag("avatars/#{politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "dashboard-card-list-avatar") %>
                                </div>

                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <% if @politics_slice_b %>
                        <div class="carousel-item">
                          <div class="dashboard-card-list">
                            <% @politics_slice_b.each do |politic| %>
                              <div class="dashboard-card-politic">
                                <div class="dashboard-card-politic-name">
                                  <p class="last-name"><%= politic.last_name %></p>
                                  <p class="first-name"><%= politic.first_name %></p>
                                </div>
                                <div>
                                  <%= image_tag("avatars/#{politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "dashboard-card-list-avatar") %>
                                </div>

                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <% if @politics_slice_c %>
                        <div class="carousel-item">
                          <div class="dashboard-card-list">
                            <% @politics_slice_c.each do |politic| %>
                              <div class="dashboard-card-politic">
                                <div class="dashboard-card-politic-name">
                                  <p class="last-name"><%= politic.last_name %></p>
                                  <p class="first-name"><%= politic.first_name %></p>
                                </div>
                                <div>
                                  <%= image_tag("avatars/#{politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "dashboard-card-list-avatar") %>
                                </div>

                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <% if @politics_slice_d %>
                        <div class="carousel-item">
                          <div class="dashboard-card-list">
                            <% @politics_slice_d.each do |politic| %>
                              <div class="dashboard-card-politic">
                                <div class="dashboard-card-politic-name">
                                  <p class="last-name"><%= politic.last_name %></p>
                                  <p class="first-name"><%= politic.first_name %></p>
                                </div>
                                <div>
                                  <%= image_tag("avatars/#{politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "check") %>
                                </div>

                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#politicCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#politicCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= link_to "VOIR TOUTE L'EQUIPE", tournament_team_path(@tournament, @team), class: "pixel_art_btn" %>

        </div>
        <div class="dashboard-complete-card">
          <div class="dashboard-card" data-controller="countdown" data-countdown-date-value="<%= @next_date %>">
            <p class="dashboard-title">CALENDRIER</p>
            <div class="dashboard-subcard">
              <div class="dates">
                <h4>DEBUT DU TOURNOI</h4>
                <h2 class="center"><%= @begin.strftime("%d/%m/%Y") if @begin %></h2>
              </div>
              <div class="dates">
                <h4>FIN DU TOURNOI</h4>
                <h2 class="center"><%= @end.strftime("%d/%m/%Y") if @end %></h2>
              </div>
            </div>
            <div class="dashboard-subcard">
              <h2 class="center">MATCH EN COURS</h2>
              <% if @current_match %>
                <%= button_to "#{@current_match.teams.first.name} VS #{@current_match.teams.last.name}", match_path(@current_match), method: :get, class: "pixel_art_btn_tournament" %>
              <% else %>
                <p>Aucun match en cours</p>
              <% end %>
            </div>
            <h2 class="center">PROCHAIN MATCH</h2>
            <div data-countdown-target="next" class="d-none"><%= @next_date %></div>
            <% if @next_date %>
              <div class="countdown">
                <span data-countdown-target="days"></span>J
                <span data-countdown-target="hours"></span>h
                <span data-countdown-target="minutes"></span>m
                <span data-countdown-target="seconds"></span>s
              </div>
            <% else %>
              <p>Plus de match à venir</p>
            <% end %>
          </div>
          <%= link_to "VOIR TOUS MES MATCHS", matches_path(tournament_id: @tournament), class: "pixel_art_btn" %>

        </div>
        <div class="dashboard-complete-card">
          <div class="dashboard-card">
            <p class="dashboard-title">CLASSEMENT</p>
            <div class="ranking-group">
              <% @tournament.teams.sort_by(&:score).reverse.each_with_index do |team, id| %>
              <div class="ranking-item">
                <div>
                  <%= id + 1 %>
                </div>
                <div>
                  <% if team.name.length > 15 %>
                    | <%= team.name.first(15) %>...
                  <% else %>
                    | <%= team.name %>
                  <% end %>
                  <br>
                  | <%= team.score %> PTS
                </div>
              </div>
              <% end %>
            </div>
            <div class="player-rank">
              TU ES
              <% if @team == @tournament.teams.sort_by(&:score).reverse.first %>
                1ER !!!
                <br><br>
                <i class="fa-solid fa-crown fa-2xl" style="color: #ffffff;"></i>
              <% elsif @team == @tournament.teams.sort_by(&:score).reverse.last %>
                DERNIER !!!
                <br><br>
                <i class="fa-solid fa-frog fa-2xl" style="color: #ffffff;"></i>
              <% else %>
                <%= @tournament.teams.sort_by(&:score).reverse.find_index(@team) + 1 %>EME
                <br><br>
                <i class="fa-solid fa-bolt fa-2xl" style="color: #ffffff;"></i>
              <% end %>
            </div>
          </div>
          <%= link_to "VOIR LE DETAIL", ranking_details_tournament_path(@tournament), class: "pixel_art_btn_big" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
