<div>
  <h3><%= @tournament.name %></h3>
  <p><%= @tournament.status %></p>

  <% if @tournament.status == "created" %>
    <h4>Invite tes amis</h4>
    <p><%= url_for(only_path: false) %></p>
  <% end %>

  <% if @tournament.status == "created" %>
    <%= button_to 'Lancer le tournoi', launch_tournament_path(@tournament), method: :patch %>
  <% end %>
</div>

<%= link_to "Rejoindre le tournoi", join_tournament_path(@tournament), method: :post %>
<%= link_to "+ Nouvel equipe", new_tournament_team_path(@tournament.id), class: "button" %>
