<header>
  <nav>
    <div class="container">
      <div class="nav-logo">
        <%= link_to image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"), "#", class: "navbar-brand" %>
      </div>
      <ul class="nav-links">
        <% if user_signed_in? %>
          <li><%= link_to "Home", "#", class: "nav-link active" %></li>
          <li><%= link_to "Messages", "#", class: "nav-link" %></li>
          <li class="dropdown">
            <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"), "#", class: "nav-link dropdown-toggle", role: "button", 'aria-haspopup': true, 'aria-expanded': false %>
            <ul class="dropdown-menu">
              <li><%= link_to "Action", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Another action", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
