<div>
  <% selection = [] %>
  <% @match.teams.each do |team| %>
    <% if team.user == current_user %>
      <% @match.line_ups.each do |line_up| %>
        <% selection << line_up %>
      <% end %>
    <% end %>
  <% end %>
  <h2 class="title-team-matches">Ta sélection</h2>
  <% @match.teams.each do |team| %>
    <% if team.user == current_user %>
      <% @match.line_ups.each do |line_up| %>
        <% if team.politics.include?(line_up.politic) && team.user == current_user %>
          <li class="team-list-politic-selection">
            <div class="politic-item-matches">
              <%= image_tag("avatars/#{line_up.politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "politic-avatar") %>
              <div class="politic-info">
                <h2 class="politic-name"><%= line_up.politic.first_name %> <%= line_up.politic.last_name %></h2>
                <p class="politic-board"><%= line_up.politic.politic_board %></p>
              </div>
            </div>
            <% if team.user == current_user && @match.line_ups.exists?(politic_id: line_up.politic.id) %>
              <%= form_with(url: line_up_path(line_up), method: :delete) do |f| %>
                <%= f.submit "-", class: "pixel_art_btn_match_black" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
