<div>
  <h2>Ta sélection</h2>
  <% @match.teams.each do |team| %>
    <% if team.user == current_user %>
      <% @match.line_ups.each do |line_up| %>
        <% if team.politics.include?(line_up.politic) && team.user == current_user %>
          <div class="team-list-politic d-flex">
            <div class="player-info">
              <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
              <%= image_tag(line_up.politic.avatar, class: "team-list-avatar") %>
            </div>
            <% if team.user == current_user && @match.line_ups.exists?(politic_id: line_up.politic.id) %>
              <%= form_with(url: line_up_path(line_up), method: :delete) do |f| %>
                <%= f.submit "-", class: "pixel_art_btn_match" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
