<div class="user-header">
  <h1 class="user-header-name">Mon calendrier</h1>
</div>
<div class="back">
  <%= link_to "retour", matches_path(tournament_id: @tournament),class: "pixel_art_btn" %>
</div>
<div class="championship-results" id="container-matches">
<div class="margin">
  <%#  card for each match %>
      <% @matches_in_progress.each do |match| %>
      <div class="info">
    <p class='statut'>Match en cours</p>
    <p class='date_match'><%= match.date.strftime("%d/%m/%Y") %></p>
  </div>
        <div class="general_card">
            <div class="user_card_owner">
              <% match.team_matches.each do |team_match| %>
                <div class="partner_name">
                  <p><%= team_match.team.name if team_match.team.user == current_user %></p>
                </div>
              <% end %>
            </div>
            <div class="score_game_before">
              <% match.team_matches.each do |team_match| %>
                  <div class="partner_name">
                    <p><%= team_match.match_score if team_match.team.user == current_user %></p>
                  </div>
                  <% end %>
              <p><%=image_tag'sword2.png', class:'sword_online' %></p>
              <% match.team_matches.each do |team_match| %>
              <p><%= team_match.match_score if team_match.team.user != current_user %></p>
              <% end %>
            </div>
            <div class="user_card">
              <% match.team_matches.each do |team_match| %>
                <div class="partner_name">
                  <p><%= team_match.team.name if team_match.team.user != current_user %></p>
                </div>
                <p><%= team_match.team.user.nickname if team_match.team.user != current_user %></p>
              <% end %>
            </div>

          <%= button_to "Voir les resultats en direct", match_path(match), method: :get, class: "pixel_art_btn_tournament" %>
        </div>
      <% end %>
      <% @matches_composition.each do |match| %>
        <div class="info">
          <p class='statut'>Match a venir</p>
          <p class='date_match'><%= match.date.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="general_card">
          <div class="user_card_owner">
            <% match.team_matches.each do |team_match| %>
              <p class='user_card_title'><%= team_match.team.name if team_match.team.user == current_user %></p>
            <% end %>
          </div>
          <div class="score_game_invisible">
              <% match.team_matches.each do |team_match| %>
                    <p><%= team_match.match_score if team_match.team.user == current_user %></p>
                  <% end %>
              <p><%=image_tag'sword2.png', class:'sword' %></p>
              <% match.team_matches.each do |team_match| %>
              <p><%= team_match.match_score if team_match.team.user != current_user %></p>
              <% end %>
            </div>
          <div class="user_card">
            <% match.team_matches.each do |team_match| %>
              <div class="partner_name">
              <p><%= team_match.team.name if team_match.team.user != current_user %></p>
              </div>
              <p><%= team_match.team.user.nickname if team_match.team.user != current_user %></p>
            <% end %>
          </div>
            <div class="button_pix">
            <%= button_to "Composez votre equipe", match_path(match), method: :get, class: "pixel_art_btn_tournament" %>
            </div>
        </div>
      <% end %>

      <% @matches_closed.each do |match| %>

      <div class="info">
        <p class='statut'>Match termine</p>
        <p class='date_match'><%= match.date.strftime("%d/%m/%Y") %></p>
      </div>

          <div class="general_card_off">
            <div class="user_card_owner_off">
              <% match.team_matches.each do |team_match| %>
              <div class="partner_name_black">
                <p><%= team_match.team.name if team_match.team.user == current_user %></p>
              </div>
              <% end %>
            </div>
            <div class="score_game">
              <% match.team_matches.each do |team_match| %>
                <div class="partner_name_black">
                  <p><%= team_match.match_score if team_match.team.user == current_user %></p>
                </div>

                  <% end %>
              <p><%=image_tag'sword2.png', class:'sword_reverse' %></p>
              <% match.team_matches.each do |team_match| %>
              <p><%= team_match.match_score if team_match.team.user != current_user %></p>
              <% end %>
            </div>
            <div class="user_card_owner_off">
              <div class="partner_name_black">
                <% match.team_matches.each do |team_match| %>
                      <p><%= team_match.team.name if team_match.team.user != current_user %></p>
                      <p><%= team_match.team.user.nickname if team_match.team.user != current_user %></p>
                <% end %>
              </div>
            </div>
              <%= button_to "Voir le detail des resultats", match_path(match), method: :get, class: "pixel_art_btn_tournament" %>

              </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
