<div class="user-header">
  <h1 class="user-header-name">Match de la semaine</h1>
</div>
<div class="container-match" id="container-matches">
  <div class="buttons">
    <%= link_to "retour", matches_path(tournament_id: @tournament),class: "pixel_art_btn" %>
  </div>
  <div class="flex-arrow">
    <%= button_to image_tag("fleche_haut.png", class: "fleche-haut d-none", id: "arrow-up-match"), match_path(@match, anchor: "container-macthes") %>
  </div>
  <% if @match.statut == "In progress" %>
    <%= button_to "Mettre a jour les resultats", update_results_match_path(@match, match: @match), method: :patch, class: "pixel_art_btn_match_adversary" %>
  <% end %>
  <div class="container-match-teams">
    <div class="container-match-vs">
      <% @match.teams.each do |team| %>
        <% if team.user == current_user %>
          <h2><%= team.name %></h2>
        <% end %>
      <% end %>
    </div>
    <h1>VS</h1>
    <div class="container-match-vs">
      <% @match.teams.each do |team| %>
        <% if team.user != current_user %>
          <h2><%= team.name %></h2>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <% if @match.statut == "Composition" %>
    <div class="container-match-composition">
      <div>
        <%= render "current_user_team" %>
      </div>
      <div class="selection-divider match_selection" >
        <%= render "match_selection" %>
      </div>
      <div class="selection-divider">
        <%= render "adversary_user_team" %>
      </div>
    </div>
  <% end %>
  <% if @match.statut == "In progress" %>
    <div class="container-match-composition">
      <div class="selection-divider">
        <h3>Ta sélection pour le match</h3>
        <% @match.teams.each do |team| %>
          <% if team.user == current_user %>
            <% @match.line_ups.each do |line_up| %>
              <% if team.politics.include?(line_up.politic) && team.user == current_user %>
                <ul>
                  <li>
                    <div class="team-list-politic d-flex">
                      <div class="player-info">
                        <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
                        <%= image_tag("avatars/#{line_up.politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "team-list-avatar") %>
                        <p><%= line_up.result %> POINTS</p>
                      </div>
                      <% if team.user == current_user && @match.line_ups.exists?(politic_id: line_up.politic.id) && @match.statut != "In progress" %>
                        <%= form_with(url: line_up_path(line_up), method: :delete) do |f| %>
                          <%= f.submit "Retirer de la sélection", class: "pixel_art_btn_match" %>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="selection-divider">
        <h3>Équipe adverse</h3>
        <% @match.teams.each do |team| %>
          <% if team.user != current_user %>
            <% @match.line_ups.each do |line_up| %>
              <% if team.politics.include?(line_up.politic) && team.user != current_user %>
                <ul>
                  <li>
                    <div class="team-list-politic d-flex">
                      <div class="player-info">
                        <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
                        <%= image_tag("avatars/#{line_up.politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "team-list-avatar") %>
                        <p><%= line_up.result %> POINTS</p>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
    <% if @match.statut == "Closed" %>
    <div class="result-container">
      <div class="match-final-result">
        <h3>Match terminé</h3>
        <h4>WINNER: <%= @match.winner %></h4>
        <h2><%= @match.team_matches[0].match_score %> - <%= @match.team_matches[1].match_score %></h2>
      </div>
    </div>
    <div class="container-match-composition">
      <div class="selection-divider <%= 'team-winner winner-animation' if @match.winner == @match.team_matches[0].team.name %> <%= 'team-loser' if @match.winner != @match.team_matches[0].team.name %>">
        <h3>Ta sélection pour le match</h3>
        <% @match.teams.each do |team| %>
          <% if team.user == current_user %>
            <% @match.line_ups.each do |line_up| %>
              <% if team.politics.include?(line_up.politic) && team.user == current_user %>
                <ul>
                  <li>
                    <div class="team-list-politic d-flex">
                      <div class="player-info">
                        <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
                        <%= image_tag("avatars/#{line_up.politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "team-list-avatar") %>
                        <p><%= line_up.result %> POINTS</p>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="selection-divider <%= 'team-winner winner-animation' if @match.winner == @match.team_matches[1].team.name %> <%= 'team-loser' if @match.winner != @match.team_matches[1].team.name %>">
        <h3>Équipe adverse</h3>
        <% @match.teams.each do |team| %>
          <% if team.user != current_user %>
            <% @match.line_ups.each do |line_up| %>
              <% if team.politics.include?(line_up.politic) && team.user != current_user %>
                <ul>
                  <li>
                    <div class="team-list-politic d-flex">
                      <div class="player-info">
                        <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
                        <%= image_tag("avatars/#{line_up.politic.last_name.downcase.gsub("é", "e").gsub("è", "e").gsub("à", "a")}.png", class: "team-list-avatar") %>
                        <p><%= line_up.result %> POINTS</p>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
