<div class="container-match">
  <h1>Match of the week</h1>
  <%= button_to "Mettre à jour les résultats", update_results_match_path(@match), method: :patch %>
  <div class="container-match-teams">
    <div class="container-match-vs">
      <% @match.teams.each do |team| %>
        <% if team.user == current_user %>
          <h2><%= team.name %></h2>
        <% end %>
      <% end %>
    </div>
    <h1>VS</h1>
    <div class="container-match-vs">
      <% @match.teams.each do |team| %>
        <% if team.user != current_user %>
          <h2><%= team.name %></h2>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="container-match-composition">
    <% if @match.statut == "Composition" %>
      <div>
        <%= render "current_user_team" %>
      </div>
      <div>
        <%= render "match_selection" %>
      </div>
      <div>
        <%= render "adversary_user_team" %>
      </div>
    <% end %>
  </div>
  <div>
    <h3>Ta sélection pour le match</h3>
    <% @match.teams.each do |team| %>
      <% if team.user == current_user %>
        <% @match.line_ups.each do |line_up| %>
          <% 
          team.politics.include?(line_up.politic) && team.user == current_user %>
            <ul>
              <li>
                <%= line_up.politic.first_name %> <%= line_up.politic.last_name %>
                - <%= line_up.result %> POINTS
                <% if team.user == current_user && @match.line_ups.exists?(politic_id: line_up.politic.id) %>
                  <%= form_with(url: line_up_path(line_up), method: :delete) do |f| %>
                    <%= f.submit "Retirer de la sélection" %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
